.reset {
  font-size: smaller;
  color: #230052;
  text-decoration: underline;
}
.anonymous {
  color: #230052;
  text-decoration: underline;
}
.reset:hover {
  cursor: pointer;
}
.anonymous:hover {
  cursor: pointer;
}
