.addlocation {
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 12px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.select {
  width: 5rem;
}
