.header {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  border-radius: 12px;
  height: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #272727;
}

.left {
  flex-grow: 1;
  padding-left: 2rem;
  padding-right: 2rem;
}

.right {
  padding-left: 2rem;
  padding-right: 2rem;
}

.header a {
  text-decoration: none;
  font-size: 1rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}
