.weather {
  width: 100%;
  display: flex;
  padding: 1rem;
  text-align: left;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  gap: 10px;
}

.location {
  flex-grow: 1;
}

.temp {
  display: flex;
  align-items: center;
}

.weather-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.weather img {
  align-items: flex-end;
}

.parent {
  display: grid;
  grid-template-columns: 5rem 60px;
  grid-template-rows: 40px 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.top {
  text-align: center;
  font-size: x-large;
}
.bottom {
  font-size: small;
  text-align: center;
}
