.weather {
  width: 100%;
  display: flex;
  padding: 1rem;
  text-align: left;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  gap: 10px;
}

.location {
  flex-grow: 1;
}

.temp {
  display: flex;
  align-items: center;
}

.addlocation {
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 12px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.weather-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.weather img {
  align-items: flex-end;
}

.top {
  margin: auto;
  text-align: center;
  font-size: x-large;
  min-width: 60px;
  height: 60px;
  display: table-cell;
  vertical-align: bottom;
}
.bottom {
  display: block;
  font-size: small;
}

.img-button {
  cursor: pointer;
}

.select {
  width: 5rem;
}
